extends layout

block content
  div#header
    span#backbtn.fui-arrow-left
    span#headertitle Loading
  div#expbar
    div#expbar_bar
    div#expbar_text

  div#loading
  div#targets
  div#tweets
  div#favbtn
  
  != js("home")
